// Where the magic happens

// Your guess on what the heck this thing is, is just as good as mine.

#branding {
	display: none;
}

// Linkadinks

#mainContent a {
	&:hover {
		color: $primaryColor !important;
	}
}

.pageContents {
	a {
		color: $primaryColor !important;
	}
}

// Bradcrumbs

#breadCrumb {
	border-bottom: 1px solid $offWhite !important;
	padding: 0px !important;

	ol {
		li {
			background: #ECF1F4 url('../images/cp_sprite.png') right -94px no-repeat !important;
			font-size: 11px !important;
			line-height: 22px;
			padding-right: 30px !important;
	
			&.last {
				color: $darkGrey !important;
					
				&:after {
					display: none;
				}
			}
								
			a {
				color: $primaryColor !important;
			}
		}
	}
}

// Active User - Same line as Bradcrumbs

#activeUser {
	background: $primaryColor !important;
	line-height: 20px !important;
		
	a {
		color: $white !important;
		text-transform: uppercase !important;
		font-size: 10px !important;
			
		&.logOutButton {
			text-transform: capitalize !important;
		}
	}
}

// Sidebar Tweaks

#siteLogo a {
	color: $primaryColor !important;
}

#sidebarControl a {
	color: $darkGrey !important;
	text-decoration: none !important;
}

#sideBar li a:link, #sideBar li a:visited {
	color: $primaryColor !important;
	border-bottom: none;
}
	
@if $showNotepad == false {
	#notePad {
		display: none !important;
	}
}

@if $showSearch == false {
	#search {
		display: none !important;
	}
}

@if $showQuickLinks == false {
	#quickLinks {
		display: none !important;
	}
}

// Homepage "Widgets"

.create h2, .modify h2, .view h2 {
	background: none !important;
}

.contentMenu {
	@include box-shadow(0px 1px 3px rgba(000,000,000,0.5) !important);
	@include border-radius(2px !important);
	@include background-clip();
	
	.heading {
		background: lighten($primaryGrey, 15%) !important;
		@include border-top-radius(2px !important);
		@include box-shadow(0px 1px 6px rgba(000,000,000,0.5) !important);
		@include box-sizing(border-box !important);
		border: 1px solid lighten($primaryGrey, 5%) !important;
		margin: -1px -1px 0 -1px !important;
		@include background-clip();
		
		h2 {
			font-size: 18px !important;
			padding: 8px !important;
			@include text-shadow(#000 0 -1px 0);
			
			span {
				font-size: 14px;
			}
		}
	}
	
	> ul {
		@include border-bottom-radius(2px !important);
		
		li:first-child a {
			border-top: none !important;
		}
		
		li {
			a {
				color: $nearBlack !important;
			}
		}

		ul {
			@include border-radius(0px !important);

			li a {
				font-weight: normal !important;
				line-height: 12px !important;
				font-size: 12px !important;

				&:hover {
					color: $primaryColor !important;
				}
			}
		}
	}
}

// Accessory Tab

#accessoryTabs {

	border-top: 1px solid $offWhite !important;
	margin-left: 0px !important;
		
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
		
	ul {
	
		li {
			background: none !important;
			border-left: 1px solid $offWhite !important;
			@include border-radius(0 !important);
			margin: 0 !important;
			padding: 0 12px !important;
			
			&.current {
				background: $nearBlack !important;
			}
			
			&:first-child {
				margin-left: 40px !important;
			}

			&:last-child {
				border-right: 1px solid $offWhite !important;
			}
			
			a {
				color: $primaryColor !important;
				font-weight: bold !important;
				font-size: 11px !important;
				padding: 6px 0 !important;
				text-shadow: none !important;
			}
			
			a span.accessoryHandle {
				background: none !important;
			}
		}
	}
}

// Cleanup

.pageContents {
	border-top: none !important;
}

// The My Account Page - AKA The page where the submit button is randomly placed in different positions in each section.

#mainContent #registerUser p.submit {
	padding-left: 0 !important; // Huzzah for consistency
}

// Main Table thead 

#mainContent .mainTable caption {
	@include background(linear-gradient(top, lighten($nearBlack, 34%), lighten($nearBlack, 15%)) !important);
	@include border-top-radius(2px !important);
	border: 1px solid lighten($nearBlack, 30%) !important;
}

// Notifcations Notify the Noticer

#ee_important_message {
	#ee_homepage_notice {
		h2 {
			color: $nearBlack !important;
		}
	}
}