/*

Theme: Sassy CP
Description: An override for the ExpressionEngine Control Panel. It makes it prettier. And Sassy-ier.
Version: 2.0.0
Author: Cotter Interactive
Legal: © 2012 Cotter Interactive.

*/
.clearfix, #navigationTabs {
  zoom: 1;
}
.clearfix:before, #navigationTabs:before, .clearfix:after, #navigationTabs:after {
  content: "";
  display: table;
}
.clearfix:after, #navigationTabs:after {
  clear: both;
}

#branding {
  display: none;
}

#breadCrumb {
  border-bottom: 1px solid #e5e5e5 !important;
  padding: 0px !important;
}
#breadCrumb ol li {
  background: #ecf1f4 url("../images/cp_sprite.png") right -94px no-repeat !important;
  font-size: 11px !important;
  line-height: 22px;
  padding-right: 30px !important;
}
#breadCrumb ol li.last {
  color: #2c3131 !important;
}
#breadCrumb ol li.last:after {
  display: none;
}
#breadCrumb ol li a {
  color: #0393c5 !important;
}

#activeUser {
  background: #0393c5 !important;
  line-height: 20px !important;
}
#activeUser a {
  color: white !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
}
#activeUser a.logOutButton {
  text-transform: capitalize !important;
}

#siteLogo a {
  color: #0393c5 !important;
}

#sidebarControl a {
  color: #2c3131 !important;
  text-decoration: none !important;
}

#sideBar li a:link, #sideBar li a:visited {
  color: #0393c5 !important;
  border-bottom: none;
}

#notePad {
  display: none !important;
}

#search {
  display: none !important;
}

.create h2, .modify h2, .view h2 {
  background: none !important;
}

.contentMenu {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.contentMenu .heading {
  background: #859aa5 !important;
  -moz-border-radius-topleft: 2px !important;
  -webkit-border-top-left-radius: 2px !important;
  border-top-left-radius: 2px !important;
  -moz-border-radius-topright: 2px !important;
  -webkit-border-top-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 1px solid #69818f !important;
  margin: -1px -1px 0 -1px !important;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.contentMenu .heading h2 {
  font-size: 18px !important;
  padding: 8px !important;
  text-shadow: black 0 -1px 0;
}
.contentMenu .heading h2 span {
  font-size: 14px;
}
.contentMenu > ul {
  -moz-border-radius-bottomleft: 2px !important;
  -webkit-border-bottom-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.contentMenu > ul li:first-child a {
  border-top: none !important;
}
.contentMenu > ul li a {
  color: #243038 !important;
}
.contentMenu > ul ul {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}
.contentMenu > ul ul li a {
  font-weight: normal !important;
  line-height: 12px !important;
  font-size: 12px !important;
}
.contentMenu > ul ul li a:hover {
  color: #0393c5 !important;
}

#accessoryTabs {
  border-top: 1px solid #e5e5e5 !important;
  margin-left: 0px !important;
}
#accessoryTabs:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#accessoryTabs ul li {
  background: none !important;
  border-left: 1px solid #e5e5e5 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 12px !important;
}
#accessoryTabs ul li.current {
  background: #243038 !important;
}
#accessoryTabs ul li:first-child {
  margin-left: 40px !important;
}
#accessoryTabs ul li:last-child {
  border-right: 1px solid #e5e5e5 !important;
}
#accessoryTabs ul li a {
  color: #0393c5 !important;
  font-weight: bold !important;
  font-size: 11px !important;
  padding: 6px 0 !important;
  text-shadow: none !important;
}
#accessoryTabs ul li a span.accessoryHandle {
  background: none !important;
}

input.submit, input#edit_file, input#edit_image, button[type="button"], a#edit_file, a#edit_image, a.submit {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04b8f7), color-stop(100%, #025b7a)) !important;
  background: -webkit-linear-gradient(top, #04b8f7, #025b7a) !important;
  background: -moz-linear-gradient(top, #04b8f7, #025b7a) !important;
  background: -o-linear-gradient(top, #04b8f7, #025b7a) !important;
  background: linear-gradient(top, #04b8f7, #025b7a) !important;
  border: 1px solid #025f7f !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
  color: white !important;
  margin: 0 auto;
  padding: 5px 20px;
  text-align: center;
}
input.submit:hover, input#edit_file:hover, input#edit_image:hover, button[type="button"]:hover, a#edit_file:hover, a#edit_image:hover, a.submit:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0393c5), color-stop(100%, #0393c5)) !important;
  background: -webkit-linear-gradient(top, #0393c5, #0393c5) !important;
  background: -moz-linear-gradient(top, #0393c5, #0393c5) !important;
  background: -o-linear-gradient(top, #0393c5, #0393c5) !important;
  background: linear-gradient(top, #0393c5, #0393c5) !important;
  text-decoration: none !important;
}

.button .submit, #action_nav li a:link, #action_nav li a:visited, #tools .submit, #noticeContents .submit, .cp_button a {
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc)) !important;
  background: -webkit-linear-gradient(top, #ffffff, #cccccc) !important;
  background: -moz-linear-gradient(top, #ffffff, #cccccc) !important;
  background: -o-linear-gradient(top, #ffffff, #cccccc) !important;
  background: linear-gradient(top, #ffffff, #cccccc) !important;
  border: 1px solid #dbdbdb !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  color: #243038 !important;
  font-size: 11px;
  margin: 0 auto;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
}
.button .submit:hover, #action_nav li a:link:hover, #action_nav li a:visited:hover, #tools .submit:hover, #noticeContents .submit:hover, .cp_button a:hover {
  background: white !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  background: linear-gradient(top, #ffffff, #ffffff);
  text-decoration: none !important;
}

#mainMenu {
  background: #27343c;
}

#navigationTabs {
  margin-top: 0;
  padding: 10px 0;
}
#navigationTabs > li {
  margin: 0 5px;
}
#navigationTabs > li > a {
  background: #31414b !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
  color: white !important;
  margin: 0 0 0px 0 !important;
  padding: 4px 4px 4px 8px !important;
}
#navigationTabs > li > a:hover {
  background: #3b4e5a !important;
  color: white !important;
}
#navigationTabs > li > a.addTab {
  background: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #0393c5 !important;
}
#navigationTabs > li.home a, #navigationTabs > li.msm_sites a, #navigationTabs > li a[rel=external] {
  padding-right: 8px !important;
}
#navigationTabs > li.parent > a:after, #navigationTabs > li.parent:focus > a:after, #navigationTabs > li.parent.active > a:after {
  border: none;
  content: "▼";
  color: #496170 !important;
  display: inline;
  font-size: 8px;
  margin-left: 4px;
  position: relative;
  top: -1px;
}
#navigationTabs > li > ul {
  margin-top: 6px !important;
}
#navigationTabs > li ul, #navigationTabs > li ul ul {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#navigationTabs li li.hover,
#navigationTabs ul li li.hover, #navigationTabs li li.parent:focus,
#navigationTabs li li.parent.active, #navigationTabs li li.parent:focus > a,
#navigationTabs li li.parent.active > a {
  background: #0393c5 !important;
}

#navigationTabs li li.parent:focus > a:after,
#navigationTabs li li.parent.active > a:after {
  border-left: 10px solid #0393c5;
}
